body {
  background-color: #f8f6f6;
}

.btn-info {
  background-color: #f78fb3; /* rose clair */
  color: white;
  border: none;
}

.btn-info:hover {
  background-color: #e85aa2; /* rose un peu plus foncé */
  color: white;
}

.card {
  background-color: #f8d3e6;
}

p1 {
  color: rgb(110, 90, 226);
}

header {
  color: rgb(241, 8, 210);
}

header nav a {
  color: white;
  text-decoration: none;
  transition: text-decoration 0.3s ease;
}

header nav a:hover {
  text-decoration: underline;
}
