body {
  background-color: beige;
}

header nav a:hover {
  text-decoration: underline;
}

.btn-pink {
  background-color: #f78fb3 !important; /* rose clair */
  color: white !important;
  border: none !important;
}

.btn-pink:hover {
  background-color: #e85aa2 !important; /* rose un peu plus foncé */
  color: white !important;
}

